<div class="flex-wrapper">
        <br /><br />
        <mat-card-title>More Information</mat-card-title>
        <mat-card-content>
            <mat-card class="picture" >
                    <img mat-card-xl-image [src]=picture?.url class="picture-image">
                    <br /><br />
                    <mat-card-title>
                      <div class="content">
                      {{picture?.name}}
                      </div>
                    </mat-card-title>
                    <mat-card-title>
                        <div class="content">
                            {{picture?.description}}
                        </div>
                    </mat-card-title>
                    <mat-card-actions>
                        <button mat-icon-button *ngIf="picture" (click)="updatePicture(picture, picture.id)">
                        <mat-icon>edit</mat-icon>
                        </button>
                    </mat-card-actions>
                  </mat-card>     
    </mat-card-content> 
<app-footer></app-footer>
</div>