<div class="flex-wrapper">
<mat-card>
        <mat-card-title>webpage under construction</mat-card-title>
    <!-- 
         //TODO getPicture by id
        <mat-card-content>
            <mat-card class="picture" >
                    <img mat-card-xl-image [src]=picture?.url class="picture-image">
                    <mat-card-title>
                      <div class="content">
                      {{picture?.name}}
                      </div>
                    </mat-card-title>
                    <mat-card-title>
                        <div class="content">
                            {{picture?.description}}
                        </div>
                    </mat-card-title>
                  </mat-card>     
    </mat-card-content> -->
</mat-card>
<app-footer></app-footer>
</div>