#register-container {
    min-height: 100vh;
    min-width: 100vw;
    color: white;
    position: relative;
  }    
  .notification {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
    }
    .logo {
        max-height: 60px;
        margin: auto;
        margin-bottom: 30px;
      }
      :host {
        display: flex;
        justify-content: center;
        margin: 100px 0px;
      }
    
      .mat-form-field {
        width: 100%;
        min-width: 300px;
      }
    
      mat-card-title,
      mat-card-content {
        display: flex;
        justify-content: center;
      }
    
      .error {
        padding: 16px;
        width: 300px;
        color: white;
        background-color: red;
      }
    
      .button {
        display: flex;
        justify-content: flex-end;
      }