.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}
.picture{
   float:left;
   margin: 20px;  
}
h1 {
    padding-left: 2rem;
    color: blueviolet;
    font-family: serif;
}
.content{
   font-family: "sans-serif";
   font-size: 20px;
   font-weight: bold;
   font-style: italic;
   margin-top: 10px;
}
.pictures {
   padding-bottom: 36px;
}
.bloc {
   padding: 1px 2px 4px 84px;
}
.add{
   width: 60%;
   height: 20%;
   margin-left: 20%;
   margin-top: 20px;
   margin-bottom: 20px;
}
.add button{
   margin-left: 50%;
}
.container{
   width: 100%;
   height: 100%;
   margin-top: 20px;
 }
  