<div class="flex-wrapper">
      <div>
        <h1>Hi {{userName}}</h1>
        <mat-card class="add">
            <button mat-icon-button (click)="Add_Picture()">
              <mat-icon>add</mat-icon>
            </button>
        </mat-card>
      </div>
      <div *ngIf="getPictures()" class="pictures">
        <div class="bloc" *ngFor="let picture of getPictures()" 
        [picture]="picture" 
        (favorite)="favorite_picture(picture)"
        (delete)="delete_picture(picture)"
         app-details-picture>
        </div>
    </div>
<app-footer></app-footer>
</div>